.body {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.body-titre {
  position: relative;
  width: 400px;
  transition: height 1000ms;
  /* animation: scale-up-center 1s; */
  animation: fade-in-left 0.6s both;
}
.body-img img {
  z-index: -1;
  transform: translateY(-30px);
  width: 850px;
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.alert-enter {
  transform: translate(-30px, 0px);
  opacity: 0;
  transition: opacity 800ms, transform 800ms;
}
.alert-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 800ms, transform 800ms;
}
.alert-exit {
  opacity: 0.3;
}
.alert-exit-active {
  opacity: 0;
  transform: translate(280px, -80px) scale(0.3);
  transition: opacity 600ms, transform 600ms;
}
@media only screen and (max-width: 1185px) {
  .body-img img {
    width: 450px;
  }
}
@media only screen and (max-width: 885px) {
  .body-img img {
    display: none;
  }
  .body {
    justify-content: center;
    align-items: baseline;
    overflow: auto;
  }
  .body-titre {
    /* margin-top: 120px; */
    margin-left: 20px;
    margin-right: 20px;
  }
}
