.search {
  display: flex;
  align-items: center;
  width: 270px;
  height: 46px;
  max-width: 500px;
  font-size: 14px;
  /* background-color: #eef2fe; */
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.6s;
}
.search-active {
  width: 300px;
  border: 1.5px solid var(--main-color-Light);
  box-shadow: 0px 0px 2px 4px rgba(3, 169, 241, 0.33);
  background-color: transparent;
}
.search-input {
  width: 81.5%;
  height: 100%;
  margin: 0 5px 0 18px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: inherit;
}

.search-button {
  width: 85px;
  height: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin-right: 4px;
  padding: 0 8px;
  background-color: var(--main-color-Light);
  color: white;
  border-radius: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.search-button:active {
  animation: jello-horizontal 0.9s both;
}
.error {
  background-color: #ff7171;
  border: 1.2px solid #f56a79;
  box-shadow: 0px 0px 2px 4px #ffcac2;
}
@media only screen and (max-width: 885px) {
  .search{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .search-active {
    width: 93%;
  }
}

