.sing-social-media {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sing-gmail {
  width: 100%;
  height: 90%;
  border-radius: 8px;
  background-color: var(--main-color-Light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.sing-gmail:hover {
  box-shadow: 0px 0px 2px 4px rgba(3, 169, 241, 0.33);
  background-color: #40a8c4;
}
.sing-gmail > img {
  width: 22px;
  height: 22px;
}
.no-image-profile {
  width: 100%;
  color: white;
  background-color: var(--background-Nav);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
}
.sing-gmail > p {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0px;
  color: white;
  margin-left: 12px;
  margin-top: 0px;
}
.SingFacebookBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.sing-gmail > button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0 !important;
}

@media only screen and (max-width: 885px) {
  .sing-fb {
    width: 63%;
  }
  .sing-fb > p {
    font-size: 15px;
  }
}
