.sing-social-media {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sing-fb {
  width: 78%;
  height: 90%;
  border-radius: 8px;
  background-color: var(--main-color-Light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.5s;
  box-sizing: border-box;
}
.sing-fb:hover {
  box-shadow: 0px 0px 2px 4px rgba(3, 169, 241, 0.33);
  background-color: #40a8c4;
}
.sing-fb > img,
.sing-gmail > img {
  width: 18px;
  height: 18px;
}
.sing-fb > p {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0px;
  color: white;
  margin-left: 12px;
  margin-top: 0px;
}
.sing-gmail {
  width: 15%;
  height: 90%;
  border-radius: 8px;
  background-color: #eef2fe;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 885px) {
  .sing-fb {
    width: 63%;
  }
  .sing-fb > p {
    font-size: 15px;
  }
}
