.Switch {
  height: 22px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 8px;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: 0.5s linear;
  background-color: var(--background-QuickActionsMenu);
  color: var(--color-QuickActionsMenu);
}
.SwitchChooses {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  transition: transform 1s;
  line-height: 27px;
  padding: 0 4px;
}
.SwitchButtons {
  display: flex;
  flex-flow: column;
  margin: 0px 0px 0px 2px;
}
.SwitchButtons svg {
  cursor: pointer;
  fill: var(--Icon-Fill);
}
.Toggle {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 50px;
  height: 24px;
  background-color: #e5e5e5;
  border-radius: 15px;
  cursor: pointer;
}

.ToggleSwitcher {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
